 body{
     margin:0 auto;
 }
 header{
    background-color:grey;
    height:90px;
    margin:30px;
}

 header img{
    float: left;
    padding-top: 10px;
    margin-left:165px;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    margin:30px;
}
li{
    display: inline-block;
    margin: 30px 30px 30px 30px;
    
   
}
ul{
    
    display: flex;
    align-items: center;
}
article{
    text-align: center;
    margin-bottom: 30px;
}   

article:nth-child(3){
    width: 100%;
    padding-right: 375px;
}
article:nth-child(3) img{
    margin-left: 150px;
    width: 40%;
    float: left;
}
article:nth-child(3) h2,p{
    width: 30%;
    margin-left: 70px;
    float: left;
    text-align: left;
}
article:nth-child(3) button{
    margin-right: 500px;
}
article:nth-child(3) p{
    overflow:auto;
    height: 350px;
    position: relative;
}

article:nth-child(2) img{
    margin-left: 13px;
    margin-right: 13px;

}
footer{
    clear: both;
    background-color:grey;
    height:90px;
    margin:30px;
}
section{
    margin:30px
}
h2{
    font-size: 20px;
    font-weight: bold ;
    
}
button{
    color: white;
    background-color: black;
    border:currentColor;
    padding: 20px 30px;
    width:150px;
    margin-left:720px ;
    position: relative;
    bottom:53px;
    border-radius: 5px;
    transition: 350ms;
}
button:hover{
    color:red;
    background-color: darkgrey;
}